<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jexcel/1.5.7/js/jquery.jexcel.js"></script>
<script src="static/dropzone.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jexcel/1.5.7/css/jquery.jexcel.css" type="text/css" />
<link rel="stylesheet" href="static/dropzone.css" type="text/css" />
<link rel="stylesheet" href="static/loading.css" type="text/css" />
<link rel="stylesheet" href="static/editor.css" type="text/css" />
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="static/simple-sidebar.css" rel="stylesheet">

<body style="font-family:calibri;">
	<div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Mantis UI
                    </a>
                </li>
                <li>
                    <a href="#">Tester</a>
                </li>
                <li>
                    <a href="#">Docs</a>
                </li>
                <li>
                    <a href="#">GitHub</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            <h1 style="padding:10px">Async Response Loading</h1>
				<div style="overflow:hidden;">
					<div style="float:left;padding:10px">
						<div id="main-tbl"></div>
					</div>
					<div style="overflow:hidden;float:right;width:25%;padding:10px">
						<div>
							<form action="/upload" class="dropzone" id="file-dropzone" method="post">
							</form>
						</div>
						<div>
							<label>URL Column</label>
							<select id="url-select" class="form-control"></select>
						</div>
						<div>
							<label>Use Label Column</label>
							<input id="label-enable" type="checkbox" class="form-control">
						</div>
						<div>
							<label>Label Column</label>
							<select id="label-select" class="form-control"></select>
						</div>
						<button id="load-btn" class="btn btn-secondary">Load All</button>
					</div>
				</div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
	
</body>
<footer>
	<script>
		// keep some global
		var results_container = {};

		var loader = '<div class="lds-facebook"><div></div><div></div><div></div></div>';
		var ring_loader = '<div class="lds-dual-ring"></div>';
		var ACTUAL_COL_NAME = 'Actual';

		var handleUpdate = function(obj, cell, val) {
			var id = $(cell).prop('id').split('-');
			var c = parseInt(id[0]);
			var r = parseInt(id[1]);
			console.log(obj, cell, val, id);
			var input_col = getInputCol();
			var tgt_col = getTargetCol();
			if (tgt_col.index==-1){
				createTargetCol();
			};
			if (c==input_col.index) {
				translate([val], [{'r':r,'c':getTargetCol().index}])
			}
		};
		var createTargetCol = function() {
			var data = $("#main-tbl").jexcel('getData');
			$("#main-tbl").jexcel(
				'insertColumn',
				1,
				{
					colHeaders:[ACTUAL_COL_NAME],
					columns:[{editor:optionsEditor}]
				}
			)
		}
		var getInputCol = function() {
			headers = $('#main-tbl').jexcel('getHeaders');
			name = $('#url-select').find(":selected").text()
			return {
				"index": headers.indexOf(name),
				"name": name
			}
		};
		var getLabelCol = function(){
			headers = $('#main-tbl').jexcel('getHeaders');
			name = $('#label-select').find(":selected").text()
			console.log('label', headers, name);
			return {
				"index": headers.indexOf(name),
				"name": name
			}
		}
		var getTargetCol = function(){
			headers = $('#main-tbl').jexcel('getHeaders');
			return {
				"index": headers.indexOf(ACTUAL_COL_NAME),
				"name": ACTUAL_COL_NAME
			}
		}
		var translate = function(names, target_cells) {
			console.log("sending request", JSON.stringify({"urls": names}));
			$.each(target_cells, function(i, arg){
				// show loading.
				showCellLoading(arg.r, arg.c);
			});

			$.post({
				url:'/translate',
				data: JSON.stringify({"urls": names}),
				contentType:'application/json', 
				success: function(response){
					updateCells(response, target_cells);
				}
			});
		};
		var showCellLoading = function(r, c) {
			id = c.toString()+'-'+r.toString();
			$(document.getElementById(id)).html(ring_loader);
		};
		var showNotMatch = function(r){
			id = 'row-'+r.toString();
			$(document.getElementById(id)).css('background-color', '#FFBABA')
		}
		var getColumnData = function(data, i) {
			return data.map(function(row){return row[i]})
		};

		var loadAllRows = function() {
			// call for all rows
			var data = $('#main-tbl').jexcel('getData');
			source_idx = getInputCol().index;
			if (getTargetCol().index==-1){
				createTargetCol();
			};
			var column_data = getColumnData(data, source_idx);
			var cells = [];
			$.each(column_data, function(i){
				cells.push({'r':i, 'c':getTargetCol().index});
			});
			response = translate(column_data, cells);
		} 


		var neq = function(p, label){
			//comparison of equality.
			if (label=="") {
				return false;
			}
			console.log(p, label, parseInt(p)==null, label=="", parseInt(label));
			if (Math.abs(p-label)<2000){
				return false;	
			}
			return true;
		};

		var updateCells = function(values, cells) {
			data = $('#main-tbl').jexcel('getData');
			$.each(cells, function(i, cell){
				data[cell.r][cell.c] = values[i]['value'];
				results_container[cell.r] = values[i];
			})
			// update table.
			$('#main-tbl').jexcel(
				'setData',
				data
			);
			var label_col = getLabelCol().index;
			value_col=cells[0].c;
			console.log('label', label_col, 'actual', value_col);
			$.each(data, function(i, elem){
				if (neq(elem[value_col], elem[label_col])){
					showNotMatch(i);
				}
			});
			
		};
		var setDropDowns = function(headers){
			$.each(headers, function(i, header){
				opt = '<option value="'+header+'">'+header+'</option>';
				$('#url-select').append(opt);
				$('#label-select').append(opt)
			});
		};
		var closebtn = function(e){
        	cell = $(e).closest('div').parent();
        	console.log(e, this, cell)
        	$('#' + $.fn.jexcel.current).jexcel('closeEditor', $(cell), true);
        };

        var createEditorTable = function(r){
        	var editor = document.createElement('div');
			        
	        $(editor).prop('class', 'dropdown-editor');
	        var tbl = document.createElement('table');
	        $(tbl).addClass('table table-dark table-hover table-sm');
	        var thead = document.createElement('thead');
	        var hr = document.createElement('tr');
	        var heads = ["BBID", "Company", "Select"];
	        for (var i=0; i<3; i++) {
	        	var th = document.createElement('th');
	        	th.appendChild(document.createTextNode(heads[i]))
	        	hr.appendChild(th)
	        }
	        thead.appendChild(hr);
	        tbl.appendChild(thead);
	        base = "<table class='table table-dark table-sm table-hover'><tr><th>BBID</th><th>Company</th><th>Select</th></tr>"
	        foot = "</table>"

	        var tbody = document.createElement('tbody')
	        for (var i=0; i< results_container[r]['alternate'].length; i++) {
	        	var tr = document.createElement('tr');
	        	var elem = results_container[r]['alternate'][i];
	        	$(tr).html("<td>"+elem+"</td><td>Company A</td><td><input type='radio' name='idopts' value='"+elem+"' checked></td><td><input class='btn btn-sm' type='button' value='Select' onclick='closebtn(this);'></td>");
	        	tbody.appendChild(tr);
	        }
	        tbl.appendChild(tbody);

	        editor.appendChild(tbl);
        	return editor; 
        }
		// Example https://bossanova.uk/jexcel/examples/integrating-a-third-party-plugin-into-your-spreadsheet
		var optionsEditor = {
		    // Methods
		    closeEditor : function(cell, save) {
		        // Get value
		        var value = $(cell).find("input[name='idopts']:checked").val();
		        // Set visual value
		        $(cell).html(value);

		        // Close editior
		        $(cell).removeClass('dropdown-editior');

		        // Save history
		        return value;
		    },
		    openEditor : function(cell) {
		        // Get current content
		        var html = $(cell).html();
		        var id = $(cell).prop('id').split('-');
		        var r = id[1];

		        console.log('results container', results_container, 'row', cell);
		        if (results_container[r]['alternate'].length != 1){
		        	// Create the editor
			        editor = createEditorTable(r);
			        $(cell).html(editor);
		        }
		    },
		    getValue : function(cell) {
		        return $(cell).html();
		    },
		    setValue : function(cell, value) {
		        $(cell).html(value);

		        return true;
		    }
		}
		$('#load-btn').click(function(event) {
			loadAllRows();
		});
		var createJEXCEL = function(data, headers) {
			$('#main-tbl').jexcel({ 
				data: data,
				colHeaders: headers,
				onchange: handleUpdate,
				colWidths: [ 80, 300, 150 ],
				allowManualInsertColumn: false
			});
		}
		$(document).ready(function() {
			
			$.get('/default_data', function(resp) {
				createJEXCEL(resp.data, resp.headers);
				setDropDowns(resp.headers);
				
			})

		});
		Dropzone.options.fileDropzone = {
			maxFiles: 1,
			accept: function(file, done) {
			    console.log("uploaded");
			    done();
			},
			init: function() {
				this.on("addedfile", function() {
			      if (this.files[1]!=null){
			        this.removeFile(this.files[0]);
			      }
			    });
				this.on("success", function(file, resp) {
					var r = confirm("Do you want to overrite current data?")
					if (r==true){
						console.log("Parsed File:", resp);
						createJEXCEL(resp.data, resp.headers)
						setDropDowns(resp.headers);
					}
				})
			}
		}

	</script>
</footer>